html {
  margin: 0 !important;
  overflow: auto;
}

.qa-q-item-title {
  padding-top: 5px;
}

.qa-q-item-title a {
  font-family: inherit;
  color: #444444;
}

.qa-body-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.qa-logo {
  display: none;
}

.qa-footer {
  visibility: hidden;
  height: 0;
}

.qa-nav-main {
  border-top: 0 none;
}

.qa-a-count-data {
  font-size: 20px;
  margin-top: 6px;
}

a:hover {
  color: #0098cc !important;
}

a.qa-nav-main-selected,
a.qa-nav-sub-selected {
  color: #00beff;
}

.qa-q-item-avatar-meta {
  float: none;
  font-size: 12px;
}

.qa-suggest-next a,
.qa-suggest-next a:hover {
  background: none;
  padding: 0;
  text-decoration: underline;
}

.qa-q-list-item {
  border-bottom: 1px solid #EDEDED;
}

.qa-a-count {
  min-width: 50px;
}

div[itemprop="text"] {
  line-height: normal;
  font-size: 14px;
}

div[itemprop="text"] > p,
div[itemprop="text"] > ul,
div[itemprop="text"] > ol {
  margin-bottom: 16px;
}

div[itemprop="text"] > ul,
div[itemprop="text"] > ol {
  padding-left: 32px;
}

div[itemprop="text"] > ul {
  list-style-type: disc;
}

div[itemprop="text"] > ol {
  list-style-type: decimal;
}

.qa-form-light-button, .qa-form-light-hover {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 6px;
}
